:root{
    --main-color:#0D6EFD;
    --gray-color:#73767C;
    --green-color:#00966D;
    --orange-color:#D67114;
}

/*  *****************CSS RESET**************** */

@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.woff2') format('woff2'),
         url('../fonts/BYekan.woff') format('woff');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'B yekan', sans-serif;
    direction: rtl;
}


ul{
    list-style: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    padding: 0 15px;  
    margin:0 180px;
}

/* ...................................................................................................... */

.main-header{
    background-image: url(pic/header-banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 676px;
    padding-top:40px;
    border-radius: 0 0 20px 20px;
}


.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.main-menu{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-right: 104px;
    font-weight:bold;
}

.logo img{
    width: 132px;
    cursor: pointer;
}

body{
    background-color: #fff;
}

.login a img{
    width: 20px;
}

.login a span{
    color: #fff;
}

.login{
    display: flex;
    gap: 16px;
    align-items: center;
}

.agahi{
    background-color: var(--main-color);
    color: #fff;
    border-radius: 8px;
    width: 147px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    position: absolute;
    gap: 24px;
    top: 382px;
    justify-self: center;
}


.khane{
    width: 30%;
    height: 376px;
    background-image: url(../pic/khane.png);
    background-size: cover;
    top: 382px; 
    left: 108px;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

.aparteman{
    width: 30%;
    height: 376px;
    background-image: url(../pic/aparteman.png);
    background-size: cover;
    top: 382px; 
    left: 524px;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

.vila{
    width: 392px;
    height: 376px;
    background-image: url(pic/vila.png);
    background-size: cover;
    top: 382px; 
    left: 940px;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

.khane:hover, .aparteman:hover, .vila:hover{
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}


.btm-part{
    width: 355px;
    height: 78px;
    background-color: #fff;
    top: 290px;
    position: relative;
    justify-self: center;
    border-radius: 8px;
}

.left-part{
    display: flex;
    width: 48px;
    height: 48px;
    position: relative;
    top: 15px;
    justify-self: left;
    margin: auto 16px;
}

.right-part{
    margin: 7px auto;
    position: relative;
    top: -45px;
    right: 16px;
    cursor: pointer;
}

.header-title{
    position: relative;
    justify-self: center;
    top: 60px;
    color: #fff;
    font-size: 24px;    
}

.renti{
    color: var(--main-color);
}

.mahsoolat{
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.top-title{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 625px;
}

.top-title-left{
    width: 155px;
    height: 40px;
}

.top-title-right{
    width: 444px;
    height: 45px;
    font-size: 26px;
    margin-right: 110px;
}

.content{
    display: flex;
}

.radif1{
    display: flex;
    background-color: #00966D;
    width: 288px;
    height: 355px;
}